.up {
  background-color: rgba(5, 5, 5, 0.694);

  width: 40px;
  height: 40px;
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  bottom: 3.2rem;
  right: 1rem;

  cursor: pointer;

  display: none;
}
.arrow {
  filter: invert(1);
  width: 20px;
  height: 20px;
}