.contacto__form {
  gap: 1rem;
}
.container-input {
  position: relative;
  padding: .5rem 0;
}
.form__input {
  font-family: var(--contenido);
  font-size: .8rem;
  color: var(--color-texto);

  border: none;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, 
    rgba(0, 0, 0, 0.09) 0px 4px 2px, 
    rgba(0, 0, 0, 0.09) 0px 8px 4px, 
    rgba(0, 0, 0, 0.09) 0px 16px 8px, 
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background: transparent;

  padding: .5rem .8rem;
}
.form__label {
  color: var(--color-texto);
  font-family: var(--contenido);
  font-size: 1rem;

  position: absolute;
  top: 50%;
  left: .999rem;
  transform: translateY(-50%);
  transition: all .8s;
}
.form__input:focus {
  outline: none;
  background-color: rgba(0, 0, 0, 0.448);
}
.form__input:focus ~ .form__label,
.form__input:valid ~ .form__label {
  top: 0;
  left: .999rem;
  font-size: .8rem;
  padding: 0 2px;
  background-color: transparent;
}
.message {
  color: var(--color-texto);
  font-size: 1rem;
  min-width: 100%;
  height: 180px;
  padding: .6rem 0 0 .5rem;

  background-color: rgba(74, 13, 13, 0.512);  
  border: none;

  resize: vertical;
}
.message:focus {
  outline: none;
}
.btn-form {
  width: 100%;
  margin-top: 1rem;
  
  cursor: pointer;
  border: none;
  transition: all .8s;
}
.btn-form:hover {
  color: var(--color-texto);
}