.presentacion {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url(../../../img/present2.jpg);
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.8);

  gap: 2.5rem;
  height: calc(100vh - 3.7rem);
}