.sobre__descripcion {
  display: flex;
  flex-direction: column;

  padding: 0 1rem;
}
/* .sobre__descripcion-img {
  background: url(../../../img/sobre-img.png)no-repeat;
  background-size: contain;
  background-position: center;
  height: 100px;
} */