.container__head {
  display: none;
}
.show {
  position: absolute;
  transform: translateY(2.6rem);
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.69);
  width: 100%;

  border-top: 1px solid white;
}