.container__head {
  display: none;
}
.show {
  position: absolute;
  transform: translateY(10.5%);
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--background-head);
  width: 100%;
  height: 50%;

  border-top: 1px solid white;
}